.jumbotron {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
	font-family: 'Cinzel', serif;
	background-color: khaki;
	color: #744d25;
}

.lead {
	font-size: 200%;
	letter-spacing: 4px;
}

.container img {
    width: 600px; /* you can use % */
    height: auto;
}

h2, form {
	text-align: left;
}

.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
	border-top: darkolivegreen 1px solid;
}

.table thead > tr > th {
	border-bottom: darkolivegreen 2px solid;
}

#train-form {
	border: solid rgba(85, 107, 47, 0.75) 5px;
	border-radius: 15px;
	border-style: double;
	padding: 20px;
}

button {
	background-color: darkolivegreen;
	color: white;
}

button:hover {
	background-color: rgba(85, 107, 47, 0.75);
}